/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  width: 90%;
  margin: 10px auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: 2px solid #000000;
  border-radius: 25px;
  background-color: #bd0000;
  z-index: 0;
}

header {
  grid-column: 1/9;
  padding: 25px;
}
header h1 {
  padding: 5px;
}
header img {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

nav {
  grid-column: 1/9;
  text-align: center;
  background-color: #8F0000;
  padding: 10px;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 1.5em;
  padding: 10px;
  font-weight: bold;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
}
nav li a:hover {
  border-left: 3.5px solid #B80707;
  border-right: 3.5px solid #B80707;
  padding: 8px;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5333333333);
}

body {
  background-color: #6D625B;
  color: #ffffff;
}

footer {
  grid-column: 1/9;
  padding: 25px;
  background-color: #853300;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
footer h1 {
  text-align: center;
}
footer #footer {
  -moz-column-count: 4;
       column-count: 4;
  justify-content: space-between;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

#column {
  grid-column: 2/3;
  background-color: #2A2626;
  margin: 10px;
  padding: 15px;
  padding-bottom: 8px;
  line-height: 24px;
}
#column h1 {
  text-align: center;
  padding-bottom: 10px;
}
#column div {
  margin-top: 10px;
  width: 35%;
  background-color: #853300;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
#column div a {
  color: #dbd2cd;
  text-shadow: 1.5px 1.5px #000000;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#column div:hover {
  background-color: #a84508;
  box-shadow: 1.5px 1.5px #000000;
}

#column2 {
  grid-column: 4/5;
  background-color: #2A2626;
  margin: 10px;
  padding: 15px;
  padding-bottom: 8px;
  line-height: 24px;
}
#column2 h1 {
  text-align: center;
  padding-bottom: 10px;
}
#column2 div {
  margin-top: 10px;
  width: 35%;
  background-color: #853300;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
#column2 div a {
  color: #dbd2cd;
  text-shadow: 1.5px 1.5px #000000;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#column2 div:hover {
  background-color: #a84508;
  box-shadow: 1.5px 1.5px #000000;
}

#column3 {
  grid-column: 6/8;
  background-color: #2A2626;
  margin: 10px;
  padding: 15px;
  padding-bottom: 8px;
  line-height: 24px;
}
#column3 h1 {
  text-align: center;
  padding-bottom: 10px;
}
#column3 div {
  margin-top: 10px;
  width: 35%;
  background-color: #853300;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
#column3 div a {
  color: #dbd2cd;
  text-shadow: 1.5px 1.5px #000000;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#column3 div:hover {
  background-color: #a84508;
  box-shadow: 1.5px 1.5px #000000;
}

@media only screen and (max-width: 600px) {
  #container {
    display: grid;
    grid-template-columns: auto;
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0px;
  }
  header {
    grid-column: 1/2;
  }
  nav {
    grid-column: 1/2;
    padding-bottom: 10px;
  }
  nav li {
    display: block;
    margin-right: 0px;
  }
  footer {
    grid-column: 1/2;
    padding: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  footer #footer {
    -moz-column-count: 3;
         column-count: 3;
  }
  #column {
    grid-column: 1/2;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #column2 {
    grid-column: 1/2;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #column3 {
    grid-column: 1/2;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}/*# sourceMappingURL=build.css.map */